services:

  mariadb:
    pull_policy: build
    build:
      context: requirements/mariadb/
      dockerfile: Dockerfile
    image: mariadb
    container_name: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    restart: always
    networks:
      - Inception
    env_file:
      - .env


  wordpress:
    pull_policy: build
    build:
      context: requirements/wordpress/
      dockerfile: Dockerfile
    image: wordpress
    volumes:
      - "wordpress:/var/www/html/wordpress"
    container_name: wordpress
    depends_on:
      - mariadb
    networks:
      - Inception
    restart: always
    env_file:
      - .env

  nginx:
    pull_policy: build
    build:
      context: requirements/nginx/
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    volumes:
      - "wordpress:/var/www/html/wordpress"
    ports:
      - 443:443
    depends_on:
      - wordpress
    networks:
      - Inception
    restart: always
    env_file:
      - .env

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/ebinjama/data/db-data
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/ebinjama/data/www-data

networks:
  Inception:
    name: Inception
    driver: bridge
