version: "3.9"

networks:
  inception_net:
    driver: bridge

services:
  mariadb:
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    networks:
      - inception_net
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"

  wordpress:
    image: wordpress:php8.2-fpm
    restart: always
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - inception_net
    ports:
      - "8080:80"

volumes:
  mariadb_data:
